$font-family-base: "Barlow", Tahoma, Arial, Helvetica, sans-serif;

$link-color: #2857ff;
$body-color: #161616;
$accordion-slide-color: #e9e8e8;
$accordion-radius: 8px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1150px,
);

$theme-colors: (
  "dark": #161616,
);

// Bootstrap variables overwrites END

// Colors and backgrounds
